@font-face {
  font-family: "Josefin Sans Light";
  src: url("/Fonts/JosefinSans-Light.ttf");
}

@font-face {
  font-family: "Josefin Sans Bold";
  src: url("/Fonts/JosefinSans-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans Light";
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero_img {
  object-fit: contain;
  width: 70%;
  height: auto;
}

.heroDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

.banner {
  width: 100%;
  height: 100vh;
  background-color: white;
  background-size: cover;
  background-position: center;
}
.navbar {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  background-color: rgba(212, 211, 211, 0.671);
}

.logo {
  width: 120px;
  cursor: pointer;
  color: black;
  margin-left: 80px;
  font-weight: 100;
}

.logo_link {
  text-decoration: none;
  color: black;
  gap: 20px;
}

.navbar ul {
  margin-right: 80px;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin-right: 50px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: black;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.2s;
}

.navbar ul li:hover:after {
  width: 100%;
}

.counters {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}

.paragraphs {
  display: flex;
  justify-content: space-between;
}

.paragraphs h3 {
  padding-bottom: 20px;
  font-size: 28px;
  border-radius: 2px;
}

.homepageBlocks {
  display: flex;
  flex-direction: column;
  gap: 150px;
  padding: 80px 80px;
}

.block1 {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

.text1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.text1 .textContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text1 .textContent p {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
}

.text1 .textContent h1 {
  font-size: 64px;
  font-weight: 400;
}

.block1img {
  width: 50%;
  object-fit: contain;
}

.block2 {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

.text2 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 50%;
}

.text2 .textContent {
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 20px;
}

.block2img {
  width: 50%;
  object-fit: contain;
}

.text2 .textContent p {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
}

.text2 .textContent h1 {
  font-size: 64px;
  font-weight: 400;
}

.block3 {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

.text3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 50%;
}

.text3 .textContent p {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
}

.text3 .textContent h1 {
  font-size: 64px;
  font-weight: normal;
}

.img3Container {
  display: flex;
  width: 50%;
  justify-content: center;
}

.block3img {
  width: 70%;
  object-fit: contain;
}

.paragraphs a {
  padding-top: 20px;
}

.p1 {
  width: 50%;
  padding: 20px;
}

.p2 {
  width: 50%;
  padding: 20px;
}

.footer {
  flex-shrink: 0;
  background-color: rgba(212, 211, 211, 0.671);
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  position: relative;
  bottom: 0;
}

.footer img {
  max-width: 20%;
  max-height: 20%;
}

.footerLeft {
  display: flex;
  flex-direction: column;
}

.footerLeft p {
  font-size: 15px;
}

.footerRight {
  display: flex;
  flex-direction: column;
}

.footerRight p {
  flex-shrink: 0;
  font-size: 8px;
}

.footer a {
  color: black;
}

.footer li {
  text-decoration: none;
  list-style: none;
}

p.accordion {
  background-color: rgba(212, 211, 211, 0.671);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 10px;
}

p.accordion.active,
p.accordion:hover {
  background-color: #ddd;
}

.faq {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  width: 50%;
}

.faq_title {
  padding-bottom: 50px;
}

.faq p {
  font-weight: bold;
}

.someContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  opacity: 0;
  margin-bottom: 10px;
}

div.panel.show {
  opacity: 1;
  max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

p {
  line-height: 22px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: hsl(340, 93%, 63%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text1 {
  font-size: 20px;
}

.fa {
  min-width: 30px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  color: rgb(197, 177, 177);
  display: block;
}

.fa-instagram {
  color: white;
  display: block;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
