* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans";
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.heroImgContainer {
  background-image: url(Images/restore.jpg);
  width: 629px;
  height: 629px;
}

.heroDiv {
  display: flex;
  width: 100%;
  height: 600px;
  margin: 0px;
  margin-bottom: 100px;
}

.heroContent {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.heroRight {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.heroLeft {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.heroLeft h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 300;
  font-style: normal;
}

.heroLeft h2 {
  font-size: 64px;
  line-height: 64px;
  font-weight: 300;
  font-style: normal;
}

.heroLeft h1 {
  font-size: 96px;
  line-height: 96px;
  font-weight: 600;
  font-style: normal;
}

.banner {
  width: 100%;
  height: 100vh;
  background-color: white;
  background-size: cover;
  background-position: center;
}
.navbar {
  width: 100%;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}

.logo {
  width: 120px;
  cursor: pointer;
  color: black;
  margin-left: 80px;
  font-weight: 100;
}

.logo_link {
  text-decoration: none;
  color: black;
  gap: 20px;
}

.navbar ul {
  margin-right: 80px;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin-right: 50px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: black;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.2s;
}

.navbar ul li:hover:after {
  width: 100%;
}

.counters {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin: 5px;
}

.paragraphs {
  display: flex;
  justify-content: space-between;
}

.paragraphs h3 {
  padding-bottom: 20px;
  font-size: 28px;
  border-color: aquamarine;
  border-radius: 2px;
}

.paragraphs a {
  padding-top: 20px;
}

.p1 {
  width: 50%;
  padding: 20px;
}

.p2 {
  width: 50%;
  padding: 20px;
}

.footer {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  border-style: solid none none none;
  border-color: rgba(129, 129, 129, 0.3);
  border-width: 1px;
  position: relative;
  bottom: 0;
  border-bottom: 1px;
}

.footerLeft {
  width: 50%;
  padding-left: 40px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerRight {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

.footerRight .lines {
  padding-top: 20px;
}

.footer a {
  color: black;
}

.footer li {
  text-decoration: none;
  list-style: none;
}

p.accordion {
  background-color: rgba(212, 211, 211, 0.671);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 10px;
}

p.accordion.active,
p.accordion:hover {
  background-color: #ddd;
}

.faq {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  width: 50%;
}

.faq_title {
  padding-bottom: 50px;
}

.faq p {
  font-weight: bold;
}

.someContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  opacity: 0;
  margin-bottom: 10px;
}

div.panel.show {
  opacity: 1;
  max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

p {
  line-height: 22px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: hsl(340, 93%, 63%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text1 {
  font-size: 20px;
  padding: 20px;
}
