* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  height: 100%;
}

.hero_img {
  width: 100%;
}

.heroDiv {
  display: flex;
  width: 100%;
  height: 900px;
  background-image: url("Images/restore.jpg");
  background-attachment: fixed;
  position: relative;
  margin: 0 auto;
}

.banner {
  width: 100%;
  height: 100vh;
  background-color: white;
  background-size: cover;
  background-position: center;
}
.navbar {
  width: 100%;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(190, 13, 102);
  z-index: 99;
}
.logo {
  width: 120px;
  cursor: pointer;
  margin-left: 50px;
  color: white;
}

.logo_link {
  text-decoration: none;
  color: white;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: white;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.2s;
}

.navbar ul li:hover:after {
  width: 100%;
}

.counters {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin: 5px;
}

.paragraphs {
  display: flex;
  justify-content: space-between;
}

.paragraphs h3 {
  padding-bottom: 20px;
  font-size: 28px;
  border-color: aquamarine;
  border-radius: 2px;
}

.paragraphs a {
  padding-top: 20px;
}

.p1 {
  width: 50%;
  padding: 20px;
}

.p2 {
  width: 50%;
  padding: 20px;
}

.footer {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 50px;
  background-color: rgb(209, 209, 209);
  border-style: solid none none none;
  border-color: rgba(129, 129, 129, 0.3);
  border-width: 1px;
  position: absolute;
  bottom: 0;
  border-bottom: 1px;
}

.footerLinks {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.footer a {
  color: black;
}

.footer li {
  text-decoration: none;
  list-style: none;
}

p.accordion {
  background-color: rgba(212, 211, 211, 0.671);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 10px;
}

p.accordion.active,
p.accordion:hover {
  background-color: #ddd;
}

.faq {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  width: 50%;
}

.faq_title {
  padding-bottom: 50px;
}

.faq p {
  font-weight: bold;
}

div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  opacity: 0;
  margin-bottom: 10px;
}

div.panel.show {
  opacity: 1;
  max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

p {
  line-height: 22px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: hsl(340, 93%, 63%);
}
