@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
    @apply font-bold;
  }
  h2 {
    @apply text-xl;
    @apply font-bold;
  }
  a {
    @apply text-restore-pink;
  }
}

.button-zoom-active:active {
  transform: scale(0.95); /* Slightly shrink the button when pressed */
  transition: transform 0.1s; /* Smooth transition for the effect */
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.line-animation {
  stroke-dasharray: 10000;
  stroke-dashoffset: 10000;
  animation: dash 10s linear forwards;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fffcf4;
}
