@import url("./base.css");

.main_content {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  margin: 0 auto;
}

.getintouch-block {
  display: flex;
  padding: 100px 80px;
}

.getintouch-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  gap: 50px;
}

.getintouch-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}
.getintouch-text h1{
  font-family: "Josefin Sans";
  font-size: 64px;
  font-weight: 300;
}
.getintouch-icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.getintouch-icon-link-text{
  color: black;
  /* font-weight: bold; */
  font-size : 35px;
  line-height: 28px;
  font-size: 24px;
  font-family: "Josefin Sans";
  font-weight: 300;
  text-decoration: none;
}

.icon-row {
  display: flex;
  align-items: center;
  gap: 40px;
}

.icon-row img {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.getintouch-right {
  width: 50%;
  display: flex;
  object-fit: contain;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.map iframe {
  width: 600px;
  height: 450px;
}

@media screen and (max-width: 600px) {
  .getintouch-right {
    display: none;
  }
  .getintouch-left {
    width: 100%;
  }
  .map {
    display: none;
  }
}
