@import url("./base.css");

.our_story {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 80px;
  gap: 30px;
}

.our_story p {
  font-size: 28px;
}

.our_story_left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.our_story_left h1 {
  font-size: 64px;
}

.our_story_img {
  width: 50%;
}

.our_projects {
  padding: 80px 0;
  display: flex;
}

.our_projects_bg {
  height: 700px;
  background-color: rgba(243, 243, 243, 0.555);
  display: flex;
  justify-content: center;
  align-items: center;
}

.our_projects_content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  padding: 0 80px;
}

.our_projects_title {
  font-size: 38px;
}

.our_projects_cards {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 0 20px;
}

.our_projects_cards h3 {
  font-size: 22px;
}

.our_projects_cards img {
  height: 182px;
  width: 150px;
}

.our_projects_cards_row1 {
  display: flex;
  justify-content: space-between;
}

.our_projects_cards_row2 {
  display: flex;
  justify-content: space-between;
}

.our_projects_single_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aalesund-right {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.aalesund-block {
  height: 500px;
  display: flex;
  justify-content: center;
}

.aalesund-card {
  width: 100%;
  margin: 0px 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FFF6F6;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #e0dcdc;
}

.aalesund-left {
}

.aalesund-right h1 {
  font-size: 64px;
  font-weight: 400;
}

.aalesund-block b {
  font-family: "Josefin Sans Bold";
}

.aalesund-right {

}

.aalesund-block img {

  height: 400px;
  width: 400px;
}

@media screen and (max-width: 600px) {

  .main_content {
    display: flex;
    flex-direction: column;
  }
  .our_story {
    padding: 0px;
    padding-top: 50px;
    flex-direction: column;
  }

  .our_story_img {
    width: 100%;
    height: auto;
  }

  .our_story_left {
    width: auto;
    padding: 0px 30px;
  }

  .aalesund-block {
    padding-top: 120px;
    height: auto;
  }

  .aalesund-card {
    flex-direction: column-reverse;
    margin: 0px;
    border-radius: 0px;
    box-shadow: none;
    padding: 80px 0px;
    gap: 40px;
  }

  .aalesund-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aalesund-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .aalesund-text p {
    padding-top: 60px;
  }

  .aalesund-left img {
    width: 80%;
    height: auto;
  }

  .our_projects_bg {
    height: 100%;
  }

  .our_projects_content {
    justify-content: center;
    padding: 0;
  }

  .our_projects_cards {
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0px;
  }

  .our_projects_cards_row1 {
    flex-direction: column;
    gap: 40px;
  }

  .our_projects_cards_row2 {
    flex-direction: column;
    gap: 40px;
  }

  .card-even {
    gap: 10px;
  }

  .card-odd {
    gap: 10px;
  }

  .our_projects_title {
    padding-left: 30px;
  }
}
