@import url("base.css");

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

.accordion-item {
  background-color: #FAF7F8;
  color: black;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
  /*padding: 0.5rem 3rem 0.5rem 1rem;*/
  padding: 30px 40px;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: "\005E";
  font-size: 3rem;
  transform: rotate(180deg);
  position: absolute;
  right: 4rem;
  transition: transform 0.2s ease-in-out;
  transform-origin: top;
}

.accordion-item-header.active::after {
  /* content: '\005E'; */
  transform: rotate(360deg);
  transform-origin: top;
}

.accordion-item-header.active {
  border-bottom: 1px solid rgba(1, 1, 1, 0.15);
}

.accordion-item-body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  
}

.accordion h3 {
  font-family: "Josefin Sans Bold";
}
