@import url("base.css");

.hero_img {
  object-fit: contain;
  width: 70%;
  height: auto;
}

.heroDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

.banner {
  width: 100%;
  height: 100vh;
  background-color: white;
  background-size: cover;
  background-position: center;
}

.counters {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}

.paragraphs {
  display: flex;
  justify-content: space-between;
}

.paragraphs h3 {
  padding-bottom: 20px;
  font-size: 28px;
  border-radius: 2px;
}

.homepageBlocks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block1 {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  padding: 80px 80px;
}

.text1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.text1 .textContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text1 .textContent p {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
}

.text1 .textContent h1 {
  font-size: 64px;
  font-weight: 400;
}

.block1img {
  width: 50%;
  object-fit: contain;
}

.block2 {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  padding: 80px 80px;
}

.text2 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 50%;
}

.text2 .textContent {
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 20px;
}

.block2img {
  width: 50%;
  object-fit: contain;
}

.text2 .textContent p {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
}

.text2 .textContent h1 {
  font-size: 64px;
  font-weight: 400;
}

.block3 {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  padding: 80px 80px;
}

.text3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 50%;
}

.text3 .textContent p {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
}

.text3 .textContent h1 {
  font-size: 64px;
  font-weight: normal;
}

.img3Container {
  display: flex;
  width: 50%;
  justify-content: center;
}

.block3img {
  width: 70%;
  object-fit: contain;
}

.paragraphs a {
  padding-top: 20px;
}

.p1 {
  width: 50%;
  padding: 20px;
}

.p2 {
  width: 50%;
  padding: 20px;
}

.main_content {
  flex: 1 0 auto;
}
